.wideBannerSection {
  height: 50vh;
  width: 100%;
  background: red;
  background-size: cover;
  background-image: url('../../assets/banner.png');
  background-position: center center;
}

.mainContainer {
  display: grid;
  grid-template-columns: 1fr 200px;
}
